# Data Cleaning

In [74]:
import pandas as pd
import numpy as np
import datetime
pd.options.display.max_rows = 999
pd.options.display.max_columns = 999

In [90]:
df = pd.read_csv('/Users/markdetiberiis/Desktop/Patient_no_show/data.csv')

In [91]:
df

,PatientId,AppointmentID,Gender,ScheduledDay,AppointmentDay,Age,Neighbourhood,Scholarship,Hipertension,Diabetes,Alcoholism,Handcap,SMS_received,No-show
0,2.987250e+13,5642903,F,2016-04-29T18:38:08Z,2016-04-29T00:00:00Z,62,JARDIM DA PENHA,0,1,0,0,0,0,No
1,5.589978e+14,5642503,M,2016-04-29T16:08:27Z,2016-04-29T00:00:00Z,56,JARDIM DA PENHA,0,0,0,0,0,0,No
2,4.262962e+12,5642549,F,2016-04-29T16:19:04Z,2016-04-29T00:00:00Z,62,MATA DA PRAIA,0,0,0,0,0,0,No
3,8.679512e+11,5642828,F,2016-04-29T17:29:31Z,2016-04-29T00:00:00Z,8,PONTAL DE CAMBURI,0,0,0,0,0,0,No
4,8.841186e+12,5642494,F,2016-04-29T16:07:23Z,2016-04-29T00:00:00Z,56,JARDIM DA PENHA,0,1,1,0,0,0,No
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
110522,2.572134e+12,5651768,F,2016-05-03T09:15:35Z,2016-06-07T00:00:00Z,56,MARIA ORTIZ,0,0,0,0,0,1,No
110523,3.596266e+12,5650093,F,2016-05-03T07:27:33Z,2016-06-07T00:00:00Z,51,MARIA ORTIZ,0,0,0,0,0,1,No
110524,1.557663e+13,5630692,F,2016-04-27T16:03:52Z,2016-06-07T00:00:00Z,21,MARIA ORTIZ,0,0,0,0,0,1,No
110525,9.213493e+13,5630323,F,2016-04-27T15:09:23Z,2016-06-07T00:00:00Z,38,MARIA ORTIZ,0,0,0,0,0,1,No
110526,3.775115e+14,5629448,F,2016-04-27T13:30:56Z,2016-06-07T00:00:00Z,54,MARIA ORTIZ,0,0,0,0,0,1,No

In [93]:
df["ScheduledDay"]= pd.to_datetime(df["ScheduledDay"])

In [94]:
df['schedule_date'] = df['ScheduledDay'].dt.date

df['schedule_time'] = df['ScheduledDay'].dt.time

In [95]:
df.drop(['ScheduledDay'],axis =1, inplace = True)

In [96]:
df["AppointmentDay"]= pd.to_datetime(df["AppointmentDay"])

In [97]:
df['appointment_date'] = df['AppointmentDay'].dt.date

df['appointment_time'] = df['AppointmentDay'].dt.time

In [98]:
#get Day of the week for each appointment 
df["appointment_date"]= pd.to_datetime(df["appointment_date"]) 
df['appointment_weekday'] = df['appointment_date'].dt.day_name()

In [99]:
df = df.rename(columns={'Hipertension': 'Hypertension', 'Handcap': 'Handicap', 'SMS_received': 'SMSReceived', 'No-show': 'NoShow'})

In [100]:
#number of unique neighborhoods

df.Neighbourhood.unique().size

81

In [101]:
#get Day of the week for each appointment 
df["schedule_date"]= pd.to_datetime(df["schedule_date"])

In [103]:
#get DOW

df['schedule_weekday'] = df['schedule_date'].dt.day_name()

In [104]:
df.groupby(['NoShow']).count()

,PatientId,AppointmentID,Gender,AppointmentDay,Age,Neighbourhood,Scholarship,Hypertension,Diabetes,Alcoholism,Handicap,SMSReceived,schedule_date,schedule_time,appointment_date,appointment_time,appointment_weekday,schedule_weekday
NoShow,,,,,,,,,,,,,,,,,,
No,88208,88208,88208,88208,88208,88208,88208,88208,88208,88208,88208,88208,88208,88208,88208,88208,88208,88208
Yes,22319,22319,22319,22319,22319,22319,22319,22319,22319,22319,22319,22319,22319,22319,22319,22319,22319,22319

In [115]:
# Get the Waiting Time in Days of the Patients.
df['waiting_days'] = df['appointment_date'] - df['schedule_date']
df['waiting_days'] = df['Waiting_Time_days'].dt.days

In [107]:
df['schedule_date_Y'] = df['schedule_date'].dt.year
df['schedule_date_M'] = df['schedule_date'].dt.month
df['schedule_date_D'] = df['schedule_date'].dt.day
df.drop(['schedule_date'], axis=1, inplace=True)

df['appointment_date_Y'] = df['AppointmentDay'].dt.year
df['appointment_date_M'] = df['AppointmentDay'].dt.month
df['appointment_date_D'] = df['AppointmentDay'].dt.day
df.drop(['AppointmentDay'], axis=1, inplace=True)

In [109]:
df.to_csv('/Users/markdetiberiis/Desktop/Patient_no_show/cleaned_data.csv')

need a new df for every appointment_weekday to later predict on

In [112]:
df_Monday = df[df['appointment_weekday']=='Monday']
df_Tuesday = df[df['appointment_weekday']=='Tuesday']
df_Wednesday = df[df['appointment_weekday']=='Wednesday']
df_Thursday = df[df['appointment_weekday']=='Thursday']
df_Friday = df[df['appointment_weekday']=='Friday']

In [114]:
df_Monday.to_csv('/Users/markdetiberiis/Desktop/Patient_no_show/monday_appts')
df_Tuesday.to_csv('/Users/markdetiberiis/Desktop/Patient_no_show/tuesday_appts')
df_Wednesday.to_csv('/Users/markdetiberiis/Desktop/Patient_no_show/wednesday_appts')
df_Thursday.to_csv('/Users/markdetiberiis/Desktop/Patient_no_show/thursday_appts')
df_Friday.to_csv('/Users/markdetiberiis/Desktop/Patient_no_show/friday_appts')