# XGB Predictions

In [1]:
import pandas as pd
import numpy as np
import datetime


from sklearn.model_selection import train_test_split
from sklearn.model_selection import GridSearchCV
from sklearn.preprocessing import LabelEncoder

from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier

import matplotlib.pyplot as plt
%matplotlib inline
from sklearn.metrics import mean_squared_error, accuracy_score, f1_score, roc_auc_score
import seaborn as sns

from sklearn.preprocessing import MinMaxScaler, StandardScaler
from sklearn.linear_model import Lasso, Ridge, LinearRegression
from sklearn.model_selection import train_test_split
from sklearn.neighbors import KNeighborsClassifier
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn import metrics

from sklearn.preprocessing import PolynomialFeatures
import pickle 
from sklearn.pipeline import make_pipeline

pd.options.display.max_rows = 999
pd.options.display.max_columns = 999

In [2]:
df = pd.read_csv('/Users/markdetiberiis/Desktop/Patient_no_show/model_ready_data.csv')

In [3]:
df.drop(['Unnamed: 0'],axis = 1,inplace=True)

In [72]:
df

,Gender,Age,Neighbourhood,Scholarship,Hypertension,Diabetes,Alcoholism,Handicap,SMSReceived,appointment_weekday,schedule_weekday,waiting_days,schedule_date_Y,schedule_date_M,schedule_date_D,appointment_date_Y,appointment_date_M,appointment_date_D
0,0,62,39,0,1,0,0,0,0,0,0,2,2016,4,29,2016,4,29
1,1,56,39,0,0,0,0,0,0,0,0,2,2016,4,29,2016,4,29
2,0,62,45,0,0,0,0,0,0,0,0,2,2016,4,29,2016,4,29
3,0,8,54,0,0,0,0,0,0,0,0,2,2016,4,29,2016,4,29
4,0,56,39,0,1,1,0,0,0,0,0,2,2016,4,29,2016,4,29
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
110522,0,56,43,0,0,0,0,0,1,4,4,61,2016,5,3,2016,6,7
110523,0,51,43,0,0,0,0,0,1,4,4,61,2016,5,3,2016,6,7
110524,0,21,43,0,0,0,0,0,1,4,5,68,2016,4,27,2016,6,7
110525,0,38,43,0,0,0,0,0,1,4,5,68,2016,4,27,2016,6,7
110526,0,54,43,0,0,0,0,0,1,4,5,68,2016,4,27,2016,6,7

In [5]:
#open pickled XGB model 

XGB_model = open('XGB_model.pkl', 'rb')
model = pickle.load(XGB_model)

In [8]:
df.drop(['NoShow'],axis = 1,inplace = True)

In [9]:
#predict on the data 

final_pred = model.predict(df)

In [11]:
#create df of predictions 

final_df = pd.DataFrame(final_pred)

In [16]:
#write predictions to csv

final_df.to_csv('/Users/markdetiberiis/Patient-No-Show/final_preds')

In [34]:
final_df['Show/NoShow'] = final_df[0]

In [37]:
final_df.drop([0],axis = 1,inplace = True)

In [39]:
#Show predicted show vs NoShow

final_df['Show/NoShow'].value_counts()

0    106416
1      4111
Name: Show/NoShow, dtype: int64

In [41]:
#predict by DOW

df_Monday = pd.read_csv('/Users/markdetiberiis/Desktop/Patient_no_show/monday_appts')
df_Tuesday = pd.read_csv('/Users/markdetiberiis/Desktop/Patient_no_show/tuesday_appts')
df_Wednesday = pd.read_csv('/Users/markdetiberiis/Desktop/Patient_no_show/wednesday_appts')
df_Thursday = pd.read_csv('/Users/markdetiberiis/Desktop/Patient_no_show/thursday_appts')
df_Friday = pd.read_csv('/Users/markdetiberiis/Desktop/Patient_no_show/friday_appts')

In [45]:
#Cleaning data 

df_Monday.drop(['Unnamed: 0'],axis =1, inplace = True)
df_Tuesday.drop(['Unnamed: 0'],axis =1, inplace = True)
df_Wednesday.drop(['Unnamed: 0'],axis =1, inplace = True)
df_Thursday.drop(['Unnamed: 0'],axis =1, inplace = True)
df_Friday.drop(['Unnamed: 0'],axis =1, inplace = True)

In [43]:
df_Monday.drop(['NoShow'],axis =1, inplace = True)
df_Tuesday.drop(['NoShow'],axis =1, inplace = True)
df_Wednesday.drop(['NoShow'],axis =1, inplace = True)
df_Thursday.drop(['NoShow'],axis =1, inplace = True)
df_Friday.drop(['NoShow'],axis =1, inplace = True)

In [46]:
#predicting by Day of Week

Monday_pred = model.predict(df_Monday)
Tuesday_pred = model.predict(df_Tuesday)
Wednesday_pred = model.predict(df_Wednesday)
Thursday_pred = model.predict(df_Thursday)
Friday_pred = model.predict(df_Friday)

In [47]:
#create df of predictions 

Monday_final_df = pd.DataFrame(Monday_pred)
Tuesday_final_df = pd.DataFrame(Tuesday_pred)
Wednesday_final_df = pd.DataFrame(Wednesday_pred)
Thursday_final_df = pd.DataFrame(Thursday_pred)
Friday_final_df = pd.DataFrame(Friday_pred)

In [49]:
#write predictions to csv
Monday_final_df.to_csv('/Users/markdetiberiis/Patient-No-Show/Monday_final_preds')
Tuesday_final_df.to_csv('/Users/markdetiberiis/Patient-No-Show/Tuesday_final_preds')
Wednesday_final_df.to_csv('/Users/markdetiberiis/Patient-No-Show/Wednesday_final_preds')
Thursday_final_df.to_csv('/Users/markdetiberiis/Patient-No-Show/Thursday_final_preds')
Friday_final_df.to_csv('/Users/markdetiberiis/Patient-No-Show/Friday_final_preds')

In [51]:
Monday_final_df['Show/NoShow'] = Monday_final_df[0]
Tuesday_final_df['Show/NoShow'] = Tuesday_final_df[0]
Wednesday_final_df['Show/NoShow'] = Wednesday_final_df[0]
Thursday_final_df['Show/NoShow'] = Thursday_final_df[0]
Friday_final_df['Show/NoShow'] = Friday_final_df[0]

In [71]:
#Monday predictions

print(Monday_final_df['Show/NoShow'].value_counts())

print("Percent No-Show: %2f%%" % ((896/18123) *100))

0    18123
1      896
Name: Show/NoShow, dtype: int64
Percent No-Show: 4.943994%

In [70]:
#Tuesday Predictions

print(Tuesday_final_df['Show/NoShow'].value_counts())

print("Percent No-Show: %2f%%" % ((1091/21624) *100))

0    21624
1     1091
Name: Show/NoShow, dtype: int64
Percent No-Show: 5.045320%

In [69]:
#Wednesday Predictions

print(Wednesday_final_df['Show/NoShow'].value_counts())

print("Percent No-Show: %2f%%" % ((1/38) *100))

0    38
1     1
Name: Show/NoShow, dtype: int64
Percent No-Show: 2.631579%

In [68]:
#Thursday Predictions

print(Thursday_final_df['Show/NoShow'].value_counts())

print("Percent No-Show: %2f%%" % ((414/16833) * 100))

0    16833
1      414
Name: Show/NoShow, dtype: int64
Percent No-Show: 2.459455%

In [67]:
#Friday Predictions

print(Friday_final_df['Show/NoShow'].value_counts())

print("Percent No-Show: %2f%%" % ((945/24695) * 100))

0    24695
1      945
Name: Show/NoShow, dtype: int64
Percent No-Show: 3.826686%